<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {% if page.title %}
    {{ page.title }}
    {% else %}
    {{ site.title }}
    {% endif %}
  </title>

  <meta charset="UTF-8">
  <meta name="description" content="Eric Borowski's Webpage">
  <meta name="keyword" content="{{ site.author }}, {{ site.title }}, X-ray binaries, black holes, neutron stars">
  <meta name="author" content="{{ site.author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.description %}
    {% assign desc = page.description %}
  {% else %}
    {% assign desc = site.description %}
  {% endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
</head>

<body>
  <div class="wrapper">
</body>
